body {font-family:sans-serif;text-size-adjust:none}
table {border-collapse:collapse}
td {border:1px solid black}
fieldset,legend {border:1px solid black;border-radius:3px}
tac {display:block;text-align:center}
tar {display:block;text-align:right}
gdf {display:block;border:2px dashed #4CAF50;padding:5px;margin:10px}
wspl,.wspl {display:block;white-space:pre-line}
.vat {vertical-align:top}
.hidden {display: none}
.w100 {width:100%}
@font-face {
font-family:Noto Emoji;
src:url('/directories/files/fonts/NotoEmoji.ttf');
unicode-range:U+1fa99,U+1f48e,U+1f381,U+1f4a3,U+1f947,U+1f948,U+1f949,U+2734,U+2139,U+2b05,U+2b06,U+2b07,U+27a1,U+271d,U+2626,U+1FAC0;
}
@font-face {
font-family:Noto Sans Symbols;
src:url('/directories/files/fonts/NotoEmoji.ttf');
unicode-range:U+1fa99,U+1f48e,U+1f381,U+1f4a3,U+1f947,U+1f948,U+1f949,U+2734,U+2139,U+2b05,U+2b06,U+2b07,U+27a1,U+271d,U+2626,U+1FAC0;
}
@font-face {
font-family:Menlo;
src:url('/directories/files/fonts/NotoEmoji.ttf');
unicode-range:U+1fa99,U+1f48e,U+1f381,U+1f4a3,U+1f947,U+1f948,U+1f949,U+2734,U+2139,U+2b05,U+2b06,U+2b07,U+27a1,U+271d,U+2626,U+1FAC0;
}
